.skill{
    @extend %section-padding;
	background-color: $light-blue;
    &__container{
        margin-top: 40px;
    }
    &__list{
		margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        @include mq(pc) {
			$item-margin: 40px;
			$item-num: 5;
			width: getCardWith($item-margin,$item-num);
			// 余白 - 上
			&:not(:nth-child(-n+#{$item-num})) {
				margin-top: 30px;
			}
			// 余白 - 左
			&:not(:nth-child(#{$item-num}n+1)) {
				margin-left: $item-margin;
			}
		}
        @include mq(tab-only) {
			$item-margin: 15px;
			$item-num: 4;
			width: getCardWith($item-margin,$item-num);
			// 余白 - 上
			&:not(:nth-child(-n+#{$item-num})) {
				margin-top: 25px;
			}
			// 余白 - 左
			&:not(:nth-child(#{$item-num}n+1)) {
				margin-left: $item-margin;
			}
		}
        @include mq(sp) {
			$item-margin: 10px;
			$item-num: 2;
			width: getCardWith($item-margin,$item-num);
			// 余白 - 上
			&:not(:nth-child(-n+#{$item-num})) {
				margin-top: 10px;
			}
			// 余白 - 左
			&:not(:nth-child(#{$item-num}n+1)) {
				margin-left: $item-margin;
			}
		}

        &--img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        &--title{
			margin-top: 10px;
            text-align: center;
			font-style: italic;
			
			position: relative;
			line-height: 1.4;
			padding:0.25em ;
			
			$border: dotted 1px $navy;
			&::before, &::after { 
				position: absolute;
				display: inline-block;
				content: '';
				width: 8px;
				height: 100%;
				top: 0;
				border-top: $border;
				border-bottom: $border;
			}
			&::before {
				border-left: $border;
				left: 0;
			}
			&::after {
				border-right: $border;
				right: 0;
			}
        }
    }
}