.skill{
    @extend %section-padding;
	background-color: $light-blue;
    &__container{
        margin-top: 40px;
    }

	&__content{
		p{
			&:not(:first-child){
				margin-top: 5px;
			}
			font-size: 2rem;
			font-weight: $font-weight-bold;
			text-align: center;
			font-style: italic;
			letter-spacing: .1em;
			color: $red-active;
			text-shadow: $text-shadow;
			@include mq(tab-only) {
				font-size: 1.6rem;
			}
			@include mq(sp) {
				font-size: 1.4rem;
			}
		}
	}

    &__list{
		margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        @include mq(pc) {
			$item-margin: 40px;
			$item-num: 5;
			width: getCardWith($item-margin,$item-num);
			// 余白 - 上
			&:not(:nth-child(-n+#{$item-num})) {
				margin-top: 30px;
			}
			// 余白 - 左
			&:not(:nth-child(#{$item-num}n+1)) {
				margin-left: $item-margin;
			}
		}
        @include mq(tab-only) {
			$item-margin: 15px;
			$item-num: 4;
			width: getCardWith($item-margin,$item-num);
			// 余白 - 上
			&:not(:nth-child(-n+#{$item-num})) {
				margin-top: 25px;
			}
			// 余白 - 左
			&:not(:nth-child(#{$item-num}n+1)) {
				margin-left: $item-margin;
			}
		}
        @include mq(sp) {
			$item-margin: 10px;
			$item-num: 2;
			width: getCardWith($item-margin,$item-num);
			// 余白 - 上
			&:not(:nth-child(-n+#{$item-num})) {
				margin-top: 10px;
			}
			// 余白 - 左
			&:not(:nth-child(#{$item-num}n+1)) {
				margin-left: $item-margin;
			}
		}

        &--img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        &--title{
			@extend %brackets;
			margin-top: 10px;
            text-align: center;
			font-style: italic;
			line-height: 1.4;
			@include mq(tab-only) {
				font-size: 1.4rem;
			}
			@include mq(sp) {
				font-size: 1.2rem;
			}
        }
    }
}