.footer {
	padding: 40px 0 20px;
	background: #e1f4f8;

	&__foreign-link {
		display: none;
	}

	&__copyright {
		display: block;
		margin-top: 20px;
		text-align: center;
		@include mq(sp) {
			font-size: 1.4rem;
		}
	}
}
