.header {
	position: fixed;// ヘッダー位置固定
	top: 0;
	left: 0;
	z-index: map-get($layer,header);
	width: 100%;
	height: $header-height-pc;

	@include mq(sp) {
		height: $header-height-sp;
	}

	&.is-white {
		background: $white;
		border-bottom: 1px solid $light-blue;
	}

	&__title {
		width: 80px;
		height: auto;
		transition: all $transition-change-time ease 0s;

		@include mq(sp) {
			width: 50px;
		}
		&:hover {
			opacity: $hover-opacity;
			cursor: pointer;
		}
	}

	&__inner {
		display: flex; // タイトル と ナビゲーションは横並び
		align-items: center; // 上下中央揃え
	}

	// ------------------------------------------------------------
	// ナビゲーション
	// ドロワー開いている際はメニュー
	// ------------------------------------------------------------
	&__nav {
		margin-left: auto;
		transition: all $transition-change-time ease 0s;

		@include mq(sp) {
			position: fixed;// ドロワーメニュー位置固定
			top: 0;
			right: 0;
			z-index: map-get($layer, drawer);
			transform: translateX(105%); // スマホで閉じてる時は非表示（画面外に押し出す）
			width: 300px;
			height: 100%;
			background: $light-blue;

			&.is-checked {
				transform: translateX(0%); // 元の位置に移動
			}
		}

		&--list {
			display: flex;
			justify-content: center;
			align-items: center;
			height: inherit;

			@include mq(sp) {
				display: block;
			}
		}
		&--item {
			font-weight: $font-weight-bold;
			font-size: 2rem;
			font-family: $font-family-english;

			@include mq(tab-only) {
				font-size: 1.8rem;
			}
			@include mq(sp) {
				margin-top: 30px;
				font-size: 1.6rem;
				text-align: center;
			}
			& + & {
				margin-left: 40px;

				@include mq(tab-only) {
					margin-left: 25px;
				}
				@include mq(sp) {
					margin: 10px 0 0 0;
				}
			}
		}
		&--link {
			display: inline-block;
			position: relative;
			transition: all $transition-change-time ease 0s;
			
			&:hover {
				opacity: .8;
				transform: translateY(-2px);// 上にずらす
				color: $red-active;
			}
		}
	}

	// ------------------------------------------------------------
	// ドロワー
	// ------------------------------------------------------------
	&__drawer { // ドロワーボタン（ハンバーガメニュー）
		display: none;
		position: fixed;
		top: 0;
		right: $padding-sp;
		z-index: map-get($layer, drawer);
		background: transparent;
		transition: all $transition-change-time ease 0s;

		@include mq(sp) { // スマホのみ表示
			// 配下のbarsを上下中央揃え
			display: flex;
			align-items: center;
			height: $header-height-sp;
		}
		$drawer-bar-height: 4px;
		$drawer-bar-margin: 4px;

		&.is-checked {
			transform: translateX(-300px); // ボタンの位置を調整
		}
		&:hover {
			cursor: pointer;
		}
		&--bars {
			display: inline-block;
			position: relative;
			width: 30px;
			height: ($drawer-bar-height * 3) + ($drawer-bar-margin * 2);// 4px ✖ 3 + 4px ✖ 2
		}
		&--bar {
			display: block;
			position: absolute;
			right: 0;
			width: 100%;
			height: $drawer-bar-height;
			background: $black;

			&:nth-of-type(1) {
				top: 0px;
			}
			&:nth-of-type(2) {
				top: $drawer-bar-height + $drawer-bar-margin;// 8px
			}
			&:nth-of-type(3) {
				top: ($drawer-bar-height + $drawer-bar-margin) * 2; // 16px
			}

			.is-checked & {
				&:nth-of-type(1) {
					top: 10px;
					transform: rotate(-45deg);
					background: $white;
				}
				&:nth-of-type(2) {
					background: transparent; // バツ印のため2本目は非表示
				}
				&:nth-of-type(3) {
					top: 10px;
					transform: rotate(45deg);
					background: $white;
				}
			}
		}
	}
	&__drawer-bg {// 背景
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: map-get($layer, drawer-bg);
		width: 100%;
		height: 100%;
		background: $black;
		transition: all $transition-change-time ease 0s;
		&.is-checked {
			display: block;
			opacity: .5;
		}
	}
}
