.contact{ 
    @extend %section-padding;

    &__inner{
        margin-top: 40px;
    }

    // お問い合わせフォーム
    .mw_wp_form{
        $border-black: 1px solid $black;
        $border-blue: 1px solid $blue;
        input:not([type="radio"]),textarea{
            width: 100%;
            outline: none;
            transition: all $transition-change-time ease 0s;
            
            &:hover,
            &:focus {
                box-shadow: 0px 5px 5px -5px $blue;
            }
        }
        input{
            border: none;
            border-bottom: $border-black;
            &:hover,
            &:focus {
                border-bottom: $border-blue;
            }
        }
        textarea{
            border: $border-black;
        }
    }
}