.contact{ 
    @extend %section-padding;

    &__inner{
        margin-top: 40px;
    }

    // お問い合わせフォーム
    .mw_wp_form{
        $border-black: 1px solid $black;
        $border-blue: 1px solid $blue;
        
        input,textarea{
            margin: 10px 0 20px;

            &:not([type="radio"]){
                width: 100%;
                outline: none;
                transition: all $transition-change-time ease 0s;
            }
        }
        input{
            border: none;
            border-bottom: $border-black;
            &:hover,
            &:focus {
                box-shadow: 0px 5px 5px -5px $blue;
                border-bottom: $border-blue;
            }
        }
        textarea{
            height: 150px;
            padding: 3px 10px;
            letter-spacing: .1em;

            @include mq(sp) {
                font-size: 1.2rem;
            }
            &:hover,
            &:focus {
                box-shadow: 0px 0px 5px 0px $blue;
                border: $border-blue;
            }
        }
    }
}