.contact{ 
    @extend %section-padding;

    &__inner{
        margin-top: 40px;
    }

    // お問い合わせフォーム
    .mw_wp_form{
        $border-black: 1px solid $black;
        $border-blue: 1px solid $blue;
        
        input,textarea{
            margin: 10px 0 20px;

            &:not([type="radio"]){
                width: 100%;
                outline: none;
                transition: all $transition-change-time ease 0s;
                letter-spacing: .1em;
            }
        }
        input:not([type="radio"]){
            height: 40px;
            border: none;
            border-bottom: $border-black;
            padding: 0 10px;
            &:hover,
            &:focus {
                box-shadow: 0px 5px 5px -5px $blue;
                border-bottom: $border-blue;
            }
        }
        textarea{
            height: 150px;
            padding: 3px 10px;

            @include mq(sp) {
                font-size: 1.2rem;
            }
            &:hover,
            &:focus {
                box-shadow: 0px 0px 5px 0px $blue;
                border: $border-blue;
            }
        }
        // ラジオボタン
        .mwform-radio-field{
            label{
                input[type="radio"]{
                    display: none;
                    &:checked {
                        & + span {
                            &::before {
                                background: $blue;
                            }
                        }
                    }
                }
                span{
                    display: inline-block;
                    position: relative;
                    &::before,
					&::after {
						display: block;
						position: absolute;
						border-radius: 50%;
						content: '';
						transition: all $transition-change-time ease 0s;
					}
                    &::before {
						top: 5px;
						left: -20px;
						width: 16px;
						height: 16px;
						border: 1px solid $black;

						@include mq(sp) {
							top: 2px;
						}
					}
                    &::after {
						top: 10px;
						left: -15px;
						width: 6px;
						height: 6px;
						background: $white;

						@include mq(sp) {
							top: 7px;
						}
					}
                }
            }
        }
    }
}