.service{
    @extend %section-padding;
    &__container{
        margin-top: 40px;
    }
    &__lead{
        text-align: center;
        line-height: 1.6;
        text-shadow: 0 0.05em 0.08em rgba(0,0,0,0.7);
        color: $red-active;
        @include mq(tab-only) {
            font-size: 1.4rem;
        }
        @include mq(sp) {
            font-size: 1.2rem;
        }
    }
    &__list{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        display: flex;
        align-items: center;

        @include mq(pc) {
            $item-margin: 30px;
            $item-num: 4;
            width: getCardWith($item-margin,$item-num);
            // 余白 - 上
            &:not(:nth-child(-n+#{$item-num})) {
                margin-top: 30px;
            }
            // 余白 - 左
            &:not(:nth-child(#{$item-num}n+1)) {
                margin-left: $item-margin;
            }
        }
        @include mq(tab-only) {
            $item-margin: 30px;
            $item-num: 3;
            width: getCardWith($item-margin,$item-num);
            // 余白 - 上
            &:not(:nth-child(-n+#{$item-num})) {
                margin-top: 30px;
            }
            // 余白 - 左
            &:not(:nth-child(#{$item-num}n+1)) {
                margin-left: $item-margin;
            }
        }
        @include mq(sp) {
			$item-margin: 10px;
			$item-num: 2;
			width: getCardWith($item-margin,$item-num);
			// 余白 - 上
			&:not(:nth-child(-n+#{$item-num})) {
				margin-top: 10px;
			}
			// 余白 - 左
			&:not(:nth-child(#{$item-num}n+1)) {
				margin-left: $item-margin;
			}
		}

        &--img{
            width: 100px;
            height: 100px;
            img{
                width: 100%;
                height: 100%;
            }
            @include mq(tab-only) {
                width: 60px;
                height: 60px;
            }
            @include mq(sp) {
                width: 40px;
                height: 40px;
            }
        }
        &--text{
            font-style: italic;
            padding-left: 10px;
            @include mq(tab-only) {
                font-size: 1.4rem;
            }
            @include mq(sp) {
                font-size: 1rem;
            }
        }
    }
}