.service{
    @extend %section-padding;
    &__container{
        margin-top: 40px;
    }
    &__lead{
        text-align: center;
        line-height: 1.6;
        text-shadow: 0 0.05em 0.08em rgba(0,0,0,0.7);
        color: $red-active;
    }
}