.top {
    width: 100vw;
	height: 400px;
	background: url(../img/top-bg.png);
	background-position: top;
	background-size: cover;
	&__container {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__text {
		text-align: center;
		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 3rem;
		font-family: $font-family-english;
		font-style: italic;
		letter-spacing: .1em;
		color: $red-active;
		text-shadow: $text-shadow;

		@include mq(tab-only) {
			font-size: 2rem;
		}
		@include mq(sp) {
			font-size: 1.6rem;
			text-align: center;
		}
		span{
			font-size: 4.5rem;
			@include mq(tab-only) {
				font-size: 3rem;
			}
			@include mq(sp) {
				font-size: 2.4rem;
			}
		}
	}
}
