.top {
    width: 100vw;
	height: 400px;
	background: url(../img/top-bg.png);
	background-position: top;
	background-size: cover;
	&__container {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 2rem;
		font-family: $font-family-english;

		@include mq(sp) {
			width: auto;
			font-size: 1.6rem;
			text-align: center;
			&::after {
				display: none;
			}
		}
	}
}
