// --------------------------------------------------
// 継承用クラス
// --------------------------------------------------

// ボタン（buttonタグで作成せず、div＆aタグで作成を想定）
// %btn-base{ 
// }

// 強調ボタン
// %btn-accents{
//     @extend %btn-base;
// }

// ------------------------------------------------------------
// セクション共通padding
// ------------------------------------------------------------
%section-padding {
	padding: 70px 0;

	@include mq(tab-only) {
		padding: 40px 0;
	}
	@include mq(sp) {
		padding: 30px 0;
	}
}

// ------------------------------------------------------------
// 背景を暗くする
// extendする要素にてposition: relative;
// ------------------------------------------------------------
%bg-darken {
	// 透過した黒背景を重ねる
	&::before {
		position: absolute;
		z-index: map-get($layer, bg-darken);
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.3);
		content: '';
	}
}

%brackets{
	position: relative;
	padding: 0.25em;
	$border: dotted 1px $navy;
	&::before, &::after { 
		position: absolute;
		display: inline-block;
		content: '';
		width: 8px;
		height: 100%;
		top: 0;
		border-top: $border;
		border-bottom: $border;
	}
	&::before {
		border-left: $border;
		left: 0;
	}
	&::after {
		border-right: $border;
		right: 0;
	}
}