@charset 'UTF-8';

// config
@import 'config/_setting';// 基本設定
@import 'config/_mixin';// ミックスイン
@import 'config/_function';// ファンクション
@import 'config/_placeholder';// プレースホルダー
@import 'config/_initialize';// 初期化
@import 'config/_common';// 共通系

// WPテンプレート ----------------------------------------------
@import 'parts/00_template/_not-found';
@import 'parts/00_template/_front-page';
@import 'parts/00_template/_archive-work';
@import 'parts/00_template/_page-profile';
@import 'parts/00_template/_single-work';

// 共通系 -----------------------------------------------------
@import 'parts/10_common/_header';// ヘッダー
@import 'parts/10_common/_footer';// フッター
@import 'parts/10_common/_contact';// お問い合わせ

// 部品系 ------------------------------------------------------

// トップページ
@import 'parts/20_component/01_top/_top';
@import 'parts/20_component/01_top/_service';

// 制作実績
@import 'parts/20_component/02_work/_works';

// プロフィール
@import 'parts/20_component/03_profile/_profile';
@import 'parts/20_component/03_profile/_skill';
